*{
  margin: 0px;
  padding: 0px;
}
.item-left{
  float: left;
  margin-right: 40px;
  border: 2px solid gainsboro;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  width: 30%;
  margin-top: 50px;
  position: relative;
  left: 10%;
}
.item-left img{
  width: 100%;
}
.item-left Form{
  margin: 20px 20px 20px 20px;
}
.item-right h2{
  float: right;
  margin-top: 50px;
  position: relative;
  right: 38%;
}
.groupList{
  width: 30%;
  position: relative;
  left: 10%;
  top: 110px;
}